%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "jquery.nano.js", :type => "text/javascript"}
    %script{:src => "jquery.base64.js", :type => "text/javascript"}
    %script{:src => "api_wrapper.js", :type => "text/javascript"}
    %script{:src => "jsc3d.js", :type => "text/javascript"}
    %link{:href => "viewer.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %title
      FOnline 3D repo model browser
  %body
    #header
      %a{:href=>'#'}
        3D repository
      %a{:href=>'#'}
        Tutorials
      %a{:href=>'#'}
        Repository path
    #description
      #preview
        %img.non3d{:src => ''}
        %h1
        .author
      %canvas#preview3d.is3d{:width =>  378, :height => 400}
      #buttons
        %a#toggle_rotation{:href => '#'}
          %img{:src => 'rotate.png'}
        %a{:href => '#'}
          smooth
        %a.togglable{:href => '#'}
          low
        %a.togglable{:href => '#'}
          normal
        %a.togglable{:href => '#'}
          high
        %a#run3d{:href => '#'}
          %img{:src => '3d.png'}
      #text
        %dl
          %dd
            forum profile:
          %dt
            link
          %dd
            polygons count:
          %dt
            123
          %dd
            shader:
          %dt
            default
          %dd
            FO3D included:
          %dt
            false
          %dd
            rigged:
          %dt
            false
          %dd
            category:
          %dt
            head
    #list
      %table
        %tbody
    #preloader
    #footer
      %img{:src => 'fonline2238_small.png'}
      2011 baaelSiljan
      %br
      FOnline:2238
      %br
      3D development team