%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "jquery.nano.js", :type => "text/javascript"}
    %script{:src => "api_wrapper.js", :type => "text/javascript"}
    %link{:href => "viewer.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    #header
      %a{:href=>'#'}
        3D repository
      %a{:href=>'#'}
        Tutorials
      %a{:href=>'#'}
        Repository path
    #description
      #preview
        %img{:src => ''}
        %h1
        .author
      #text
    #list
      %table
        %tbody
    #preloader
    #footer
      %img{:src => 'fonline2238_small.png'}
      2011 baaelSiljan
      %br
      FOnline:2238
      %br
      3D development team