body {
  margin: 0;
  padding: 0;
  font: 11px helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4; }
  body * {
    box-sizing: border-box; }

#header {
  top: 10px;
  height: 40px;
  left: 10px;
  right: 10px;
  border: solid 1px #cacaca;
  border-radius: 3px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
  background: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background: -o-linear-gradient(top, #fafafa, #eaeaea);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  text-shadow: 0 1px 0 white;
  color: black;
  font-weight: bold; }
  #header a {
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    padding: 0 2em;
    color: #636363;
    border-right: 1px solid #eeeeee;
    border-right-color: rgba(0, 0, 0, 0.04);
    border-left: 1px solid #fcfcfc;
    border-left-color: rgba(255, 255, 255, 0.7); }

#description, #list, #preloader {
  border: solid 1px #dddddd;
  border-radius: 3px;
  position: absolute;
  top: 60px;
  bottom: 70px; }

#description, #list {
  overflow-y: auto;
  overflow-x: hidden; }

#footer {
  position: absolute;
  background: #f8f8f8;
  height: 50px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: solid 1px #e0e0e0;
  box-shadow: 0 0 -1px white inset;
  text-align: right;
  font-size: 11px;
  color: #cccccc;
  padding: 2px 5px; }
  #footer img {
    float: left; }

#preview3d {
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);
  border: solid 1px #e0e0e0;
  box-shadow: 0 0 -1px white inset;
  border-radius: 3px;
  margin: 10px 0;
  display: none; }

.in3d #preview3d {
  display: block; }

#description {
  width: 400px;
  left: 10px;
  padding: 10px; }
  #description #buttons {
    border-radius: 3px;
    border: solid 1px #cacaca;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
    background: -moz-linear-gradient(top, #fafafa, #eaeaea);
    background: -o-linear-gradient(top, #fafafa, #eaeaea);
    text-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
    height: 22px; }
    #description #buttons a {
      display: block;
      float: left;
      height: 20px;
      line-height: 20px;
      text-decoration: none;
      padding: 0 1em;
      color: black;
      border-left: 1px solid #fcfcfc;
      border-left-color: rgba(255, 255, 255, 0.7);
      border-right: 1px solid #eeeeee;
      border-right-color: rgba(0, 0, 0, 0.04);
      opacity: 0.3; }
      #description #buttons a img {
        margin: 2px 0; }
      #description #buttons a:hover {
        opacity: 0.9; }
      #description #buttons a#run3d {
        border-left: 1px solid #eeeeee;
        border-left-color: rgba(0, 0, 0, 0.04);
        border-right: none;
        float: right; }
      #description #buttons a.turned_on {
        opacity: 1; }
  #description h1 {
    margin: 0; }
  #description .author {
    color: #666666; }
  #description #preview {
    min-height: 170px; }
    #description #preview img {
      background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
      background: -moz-linear-gradient(top, #f4f4f4, #ececec);
      border: solid 1px #e0e0e0;
      box-shadow: 0 0 -1px white inset;
      border-radius: 3px;
      margin: 0 10px 10px 0;
      float: left;
      min-width: 152px;
      min-height: 152px; }
  #description #description_text {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 350px;
    bottom: 10px;
    left: 10px;
    right: 10px; }
  #description dl {
    border-top: solid 1px #eeeeee; }
    #description dl dt, #description dl dd {
      border-bottom: solid 1px #eeeeee;
      line-height: 1.8em;
      min-height: 20px; }
    #description dl dd {
      margin: 0;
      font-weight: bold;
      float: left;
      background: #eeeeee;
      clear: left;
      width: 100px; }
    #description dl dt {
      padding-left: 110px; }

body.in3d #description #preview {
  min-height: 0 !important; }
  body.in3d #description #preview img {
    display: none; }

body.in3d #description #buttons #run3d img {
  opacity: 1; }

body.in3d #description #text #description_text {
  display: none; }

#list, #preloader {
  right: 10px;
  left: 420px; }

#list table {
  width: 100%;
  border-collapse: collapse; }
#list tr td {
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);
  border-bottom: solid 1px #dddddd;
  height: 40px;
  line-height: 30px;
  padding: 10px;
  font-size: 11px; }
  #list tr td a {
    color: black;
    text-decoration: none;
    display: block; }
  #list tr td img {
    float: left;
    margin-right: 10px;
    width: 30px; }
#list tr.selected td, #list tr:hover td {
  background: #e6f1f6; }

#preloader {
  background: url(loader.gif) no-repeat center; }
